/* Login */
.loginBg{
  background-image: url('./image/loginBg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 710px;
}
.loginShadow {
  background-color: rgba(255, 255, 255, 0.88);
  box-shadow: 1px 2px 4px 2px #696969;
  border-radius: 50px;
}
.loginBlueColor{
  background-color: rgba(13, 110, 253, 0.75);
}

.register-container {
  color: white;
  border-radius: 50px 100px 100px 50px;
}

.signInButton {
  height: 40px;
  width: 100%;
}

.custom-segmented .ant-segmented-item-label:hover {
  color:white 
}

.custom-segmented .ant-segmented-item-selected .ant-segmented-item-label {
  color:black 
}

/* Header */
.search-input {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input input {
  width: 80%;
  height: 40px;
  padding: 5px 25px;
  border-radius: 25px;
  border: none;
  background-color: #dce7e7;
}

.search-input input:hover {
  background-color: #daebeb;
}

/* For Home  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo-logo {
  background-color: #001529;
  color: white;
  margin: 0px;
  padding: 0px;
}
.mainBgImg{
  background-image: url('./image/mainBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 715px;
}
/* Profile */
.profile-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-avatar {
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-right: 20px;
}

.profile-info {
  flex-grow: 1;
}

.profile-info h1 {
  margin: 0;
  font-size: 24px;
}

.profile-info .email {
  color: #555;
  text-decoration: none;
}

.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}

.profile-about {
  margin-top: 20px;
}

.profile-about h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.profile-about p {
  color: #777;
}

/* LineManager Background Image */
.lineManagerBg {
  background-image: url('./image/lineManagerBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.lineManagerBgContain{
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: rgba(255, 255, 255, 0.7);
  height: 65%;
  width: 85%;
  border-radius: 10px;
}

/* Add From */
.ant-drawer-title {
  margin: 0px;
  padding: 0px;
  height: 40px;
  background-color: #001529;
  color: white !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  box-shadow: 10px 10px 10px rgb(183, 179, 179);
}

/* Report */
.reportComingSoon{
  height: 250px;
  width: 400px;
  background-image: url('./image/comingSoonImg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); */
}
/* feedback */
.custom-tooltip {
  /* background-color: #1890ff;
  color: white;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  border: none; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);  */
}